/* add Pulp Fiction font  */
@font-face {font-family: 'PulpFiction'; src: url('fonts/ufonts.com_aachen-bold-opentype.otf') format('opentype');}


/* Fixed sidenav, full height */
.sidenav {
height: 50%;
width: 200px;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: #fff;
overflow-x: hidden;
padding-top: 20px;}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
padding: 6px 8px 6px 16px;
text-decoration: none;
font-size: 20px;
font-family: Times; /* 👈 Add this line */
color: black;
display: block;
border: none;
background: none;
width: 100%;
text-align: left;
cursor: pointer;
outline: none;}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
color: red;}

/* Main content */
.main {
margin-left: 200px; /* Same as the width of the sidenav */
font-size: 20px; /* Increased text to enable scrolling */
padding: 0px 10px;}

/* Add an active class to the active dropdown button */
.active {
color: black;}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
display: none;
background-color: #fff;
padding-left: 8px;}


.code-chunk {
  background-color: #f7f9fa; /* light grey background */
  border-radius: 0.5rem; /* rounded borders */
  line-height: 1.25rem; /* line spacing */
  padding: 1rem;
  font-family: monospace; 
  color: black;
  overflow: auto; /* enables x and y scrolling */
  white-space: pre; /* prevent wrapping */
  margin: 0; /* no outside margin */
}
