[data-tab-content] {display: none;}

.active[data-tab-content] {display: block;}

body {padding: 0;margin: 0;}

.tabs {display: flex; 
justify-content: space-around;
list-style-type: none;
margin-left: 150px;
margin-right: 150px;
padding: 0;
border-bottom: 1px solid black;}

.tab {cursor: pointer;
padding: 10px;}

.tab.active {background-color: #CCC;}

.tab:hover {background-color: #AAA;}

.tab-content {margin-left: 150px;
margin-right: 150px;}


/* create Code Chunk formatting */
.code-chunk {background-color: #f7f9fa; /* light grey background */
border-radius: 0.5rem; /* controls how rounded the borders of the chunk are */
padding: 1rem;
font-family: monospace;
color: black;
overflow: auto;
white-space: nowrap; /* prevents text line wrapping */
line-height: 1.25rem; /* controls how much space between lines of text */
display: block;
margin: 0rem;}


/* add Pulp Fiction font  */
@font-face {font-family: 'PulpFiction'; src: url('fonts/ufonts.com_aachen-bold-opentype.otf') format('opentype');}

